.card-container {
  position: relative;
  padding: 0px 10px 10px 15px;
  border-radius: 10px;
  background: #390554;
  margin-block: 20px;
  margin-inline: 5px;
  min-width: 220px;
  min-height: 220px;
  max-width: 320px;
}

.card-title {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 5px;
}
.card-details {
  display: flex;
  column-gap: 5px;
  white-space: nowrap;
  justify-content: space-between;
}

.card-details > span {
  color: #f5f5f5;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  height: 20px;
  width: 50%;
}

.card-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 48px;
}

.outer-icon {
  position: relative;
  right: 10px;
  bottom: 10px;
}
.inner-icon {
  position: absolute;
  top: 7%;
  left: 4%;
}
