.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}

:root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.j-center {
  justify-content: center;
}
.j-start {
  justify-content: flex-start;
}
.j-between {
  justify-content: space-between;
}
.a-center {
  align-items: center;
}

.flex-start {
  align-items: flex-start;
}
.pt-40 {
  padding-top: 40px;
}
.pr-40 {
  padding-right: 40px;
}
.flex-wrap {
  flex-wrap: wrap;
}

.w-fit {
  width: -webkit-fill-available;
}
.res-search {
  width: inherit;
}
.header {
  margin-inline: 15px;
}
.btn-right {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

@media screen and (max-width: 710px) {
  .body {
    /* background: #55344177 !important; */
    background: rgba(0, 0, 0, 0.57) !important;
  }
  .sidebar-container {
    display: none !important;
  }
  .token-container > h1 {
    padding-left: 10px;
  }
  .res-search {
    flex-direction: column-reverse;
  }

  .search-container {
    left: 0;
    margin-left: 30px;
    margin-top: 13px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .heading {
    color: #fff;
    font-family: Pacifico;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex !important;
    width: 100%;
  }
  .heading > h1 {
    margin-block: 0;
    margin-left: 15px;
  }
  .search-container > input {
    margin: 0 !important;
  }
}
.heading {
  display: none;
}
